aiohttp==3.7.3
altgraph==0.17
asgiref==3.3.1
async-lru==1.0.2
async-timeout==3.0.1
attrs==20.3.0
bokeh==2.2.3
certifi==2020.12.5
chardet==3.0.4
Django==3.1.4
easygui==0.98.2
future==0.18.2
idna==2.10
image==1.5.33
Jinja2==2.11.3
MarkupSafe==1.1.1
MouseInfo==0.1.3
multidict==5.1.0
numpy==1.20.1
packaging==20.9
pefile==2019.4.18
Pillow==8.0.1
pyaes==1.6.1
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pykeyboard==0.1.2
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyRect==0.1.4
Pyrogram==1.1.13
PyScreeze==0.1.26
PySocks==1.7.1
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.4
pywebio==1.1.0
pywin32-ctypes==0.2.0
PyYAML==5.4.1
remi==2020.11.20
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
TgCrypto==1.2.2
tornado==6.1
typing-extensions==3.7.4.3
ua-parser==0.10.0
urllib3==1.26.3
user-agents==2.2.0
XlsxWriter==1.3.7
yarl==1.6.3
